[app]
TokenKey=
Debug=false
#项目域名
Domain=

[http]
Port=80
ReadTimeout=10
WriteTimeout=10
#接口调用频率限制(限制ip) S秒 M分钟 H小时 D天
Throttle = 5-S

[database]
# 数据库类型 mysql postgres
Type=mysql
Host=127.0.0.1
Port=3306
UserName=root
Password=root
Database=mio
TablePrefix=
#最大连接数 <=0表示不限制连接数
MaxOpenConns=10
#最大空闲数 <=0表示不保留空闲连接
MaxIdleConns=5
#连接可重用时间 <=0表示永远可用(单位秒)
MaxLifetime=50
#控制台日志等级 silent error warn info
LogLevel=info

[redis]
Host=r-uf68v1lom3hv3bfksw.redis.rds.aliyuncs.com
Port=6379
Password=Mi0tech@1133
DB=0

[log]
#debug info warn error
Level=info
#单位:兆
MaxSize=100

[weapp]
AppId=
Secret=

#绿喵服务号配置
[mioSubOa]
AppId=wxe5be614362f42f73
Secret=eeb571fe4dced59328926a4169f846d9

#绿喵订阅号配置
[mioSrvOa]
AppId=
Secret=

[duiba]
AppKey=
AppSecret=

[oss]
CdnDomain=https://resources.miotech.com
Endpoint=oss-cn-hongkong.aliyuncs.com
AccessKey=
AccessSecret=
BasePath=static/mp2c/test

[baidu]
AppKey=
AppSecret=